/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

@mixin background-image-cover() {
  background-size: cover;
  background-position: center center;
}

.main-container {
  .progress-bar {
    height: 20px;
    width: 0;
    background: #00468C;
  }
  .main-carousel {
    background: #EEE;
    width: 100%;
    .carousel-cell {
      &.is-selected {
        opacity: 1;
      }
      overflow: hidden;
      opacity: 0.5;
      width: 60%;
      height: 50%;
      min-height: 250px;
      margin-right: 10px;
      background: #EEE;
      border-radius: 5px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
        @include background-image-cover();
      }
      &:nth-child(2) {
        @include background-image-cover();
      }
      &:nth-child(3) {
        @include background-image-cover();
      }
      &:nth-child(4) {
        @include background-image-cover();
      }
      &:nth-child(5) {
        @include background-image-cover();
      }
      &:nth-child(6) {
        @include background-image-cover();
      }
      &:nth-child(7) {
        @include background-image-cover();
      }
      &:nth-child(8) {
        @include background-image-cover();
      }
      &:nth-child(9) {
        @include background-image-cover();
      }
      &:nth-child(10) {
        @include background-image-cover();
      }
      &:nth-child(11) {
        @include background-image-cover();
      }
      &:nth-child(12) {
        @include background-image-cover();
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      .container {
        position: absolute;
        top: 0;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1200px;
        flex: 1;
        h3 {
          flex: 1;
          text-align: center;
          margin-top: 20px;
        }
        p {
          padding: 1.2em;
          background-color: rgba(black, 0.5);
          color: #EEE;
          flex: 3;
          text-align: center;
          max-width: 600px;
          border-radius: 5px;
        }
      }
    }
  }
}

.flickity-page-dots {
  // hide dots behind pictures
  bottom: 40px;
  z-index: -1000;
}

/* dots are lines
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
*/

.restart-button {
  position: absolute;
  top: 0.8em;
  right: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  background: rgba(black, 0.5);
  color: #EEE;
  border-radius: 50%;
  border: none;
}

#map {
  height: 40vh;
  width: 100%;
}

@media screen and ( max-width: 1000px ) {
  .carousel-cell { width: 70%; }
  .main-container{
    .container {
      p {
        max-width: 80%;
        font-size: 0.7rem;
        padding: 1.5em;
      }
    }
  }

/*
  .flickity-page-dots .dot {
    height: 3px;
    width: 35px;
    margin: 0;
    border-radius: 0;
  }
*/
  .progress-bar {
    height: 15px;
    width: 0;
    background: #00468C;
  }
}

@media screen and ( max-width: 568px ) {
  .carousel-cell { width: 80%; }
  .main-container{
    .container {
      p {
        max-width: 100%;
        font-size: 0.7rem;
        padding: 1em;
      }
    }
  }

/*
  .flickity-page-dots .dot {
    height: 2px;
    width: 25px;
    margin: 0;
    border-radius: 0;
  }
*/

  .progress-bar {
    height: 10px;
    width: 0;
    background: #00468C;
  }
}
